extends ../../layouts/post_layout.pug

block variables
  include ../../_gen/metadata.pug
  - var data = clingy_tree
  - title = data.title
  - description = data.desc
  - social_logo = data.imgSrc
  - url = data.url

block post
  include:markdown-it ../../posts/clingy-tree.md