extends ../../layouts/post_layout.pug

block post-var
  include ../../_gen/metadata.pug
  - var data = technological_privacy_crisis

block post
  include:markdown-it ../../posts/technological-privacy-crisis.md