extends ../layouts/base_layout.pug

block content
  h1 Support my work

  div.donation-card-container
    a.card(href="https://github.com/sponsors/waozi-dev")
      div.card-content
        h2 Sponsor @waozi-dev on GitHub
        p I actively develop open source projects
        div.domain
          img.logo(src="/assets/icons/github-mark.png", alt="GitHub Logo")
          span GitHub
      div.card-image
        img(src="/assets/me.jpg", alt="GitHub Sponsors")

    a.card(href="https://coindrop.to/waozi")
      div.card-content
        h2 Waozi’s Coindrop
        p Send money to Waozi with no fees
        div.domain
          img.logo(src="/assets/icons/coindrop.png", alt="Coindrop Logo")
          span Coindrop
      div.card-image
        img(src="/assets/icons/coindrop.png", alt="Coindrop")
    center
      script(type="text/javascript", src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js", data-name="bmc-button", data-slug="waozi", data-color="#BD5FFF", data-emoji="", data-font="Bree", data-text="Buy me a coffee", data-outline-color="#000000", data-font-color="#ffffff", data-coffee-color="#FFDD00")
