extends ../layouts/base_layout.pug

block content
  h1 Welcome!
  p I am Martin Schiller, alias Waotzi - inspired by Lao Tzu, expressing my wondering self.

  p I started developing at young age of 13. I had a natural curiosity on how technology works, and I wanted to dig deeper to make my own figures animate on this digital landscape.
  p This curiosity evoked my digital journey, continuously exploring and developing new bytes.

  p I work as a freelancer and have acquired various skills in full stack development, system administration and automation.
  p If you need my services please contact me.
  div.row
    a(href="mailto:work@waotzi.org") E-mail
    a(href="https://t.me/waotzi") Telegram
    a(href="https://linkedin.com/in/waotzi") LinkedIn
    a(href="https://www.facebook.com/waotzi/") FB
    a(href="https://x.com/waotzi") X

