extends ../layouts/base_layout.pug

block content
  h1 Welcome!
  p I am Martin Schiller, alias Waotzi - inspired by Lao Tzu, expressing my wondering self.

  p I started developing at young age of 13. I had a natural curiousity on how technology works, and I wanted to dig deeper to make my own figures animate on this digital landscape.
  p This curiousity evoked my digital journey, continously exploring and developing new bytes.

  p I work as a freelancer and have acquired various skills in full stack development, system adminitstration and automation.
  p If you need my services please contact 
    a(href="mailto:work@waotzi.org") work@waotzi.org
    span .

