extends ../layouts/base_layout.pug

block content
  h1 Welcome!
  p Aozi Daozi Waozi, a wondering child exploring the world. Open to experience, a process dwelling beneath the heavens.
  p I am here, and so I exist. Exist to create, share and love.
  p Thank you for stopping by, I am passionate about freedom of expression and creating free open source projects.
  p Feel free to explore. I am also available for hire as a freelancer.
  p If you think I meet your requirements do not hesitate to contact me.
  div.row.wrap
    a(href="mailto:hi@waozi.dev") E-mail
    a(href="https://github.com/waozi_dev") GitHub
    a(href="https://x.com/waozi_") X
