$primary-color: #e0ffe0;
$secondary-color: #9f48da;
$tertiary-color: #a0afa0;
$background-color: #210932;
$navigation-color: #311942;
@font-face {
  font-family: 'TranscendsGame';
  src: url('./TranscendsGamesUpright.otf'); 
}

@mixin cardStyles {
  border: 2px solid $primary-color;
  border-radius: 1em;
  padding: 0;
  margin: 0;
  text-decoration: none;
  overflow: hidden;
  line-height: 1.5rem;
  &-content {
      padding: 0.5em;
      h2 {
          margin-top: 0;
          color: $primary-color;
      }
      p {
          margin: 20px 0;
          color: $tertiary-color;
      }
  }
  &-image {
      width: 100%;
      height: 300px;
      display: block;
      object-fit: cover;
      overflow: hidden;
  }
}

html, body {
  padding: 0;
  margin: 0;
  color: $primary-color;
  background-color: $background-color;
  font-size: larger;
  font-family: TranscendsGame;
  overflow-x: hidden;
}

.hero {
  position: relative;
  width: 100%;
  height: 500px;
  background: url('./banner.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title, .tagline {
    color: white;
  }

  .title {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .tagline {
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }

  .logo {
    max-width: 128px;
  }
}

.content {
  max-width: 1200px;
  margin: auto;
  padding: 1em;
  line-height: 2em;
}

.navigation {
  background-color: $navigation-color;
  padding: 1rem 0;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

    li {
      margin: 0 1rem;
    }
  }
}

.row {
  display: flex;
  justify-content: space-around;
}

a {
  color: $secondary-color;
  text-decoration: none;
  &:hover {
    color: $tertiary-color;
  }
}


button, .button {
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  background-color: $secondary-color;
  color: $primary-color;

  &:hover {
    background-color: $primary-color;
    color: $background-color;
  }
}



.portfolio-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    @include cardStyles;
    max-width: 400px;
    position: relative;
    a {
      display: flex;
      justify-content: center;
    }
  }
}


.donation-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  font-size: large;

  a {
    background-color: transparent;
  }

  a:hover {
    color: inherit;
  }

  
  .card {
    @include cardStyles;
    height: 200px;
    display: flex;
    
    &:hover {
        border-color: $secondary-color;
    }

    &-content {
      flex: 1;
      position: relative;
      padding-bottom: 1.5em;
    
      p {
        color: $tertiary-color;
      }
    
      .domain {
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 0;
        padding-left: 0.5em;
        padding-bottom: 0.5em;
    
        .logo {
          width: 20px;
          height: 20px;
          margin-right: 0.5em;
        }
      }
    }
    
    &-image {
      display: flex;
      flex-basis: 30%; 
      align-items: baseline;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        padding-bottom: 5em;
        margin-bottom: 5em;
      }
    }
  }
}

.blog-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  a {
    background-color: transparent;
  }

 
  .card {
    @include cardStyles;
    flex-direction: column;
    max-width: 320px;
  
    &:hover {
      border-color: $secondary-color;
    }

    &-image {
      display: flex;
      flex-basis: 30%; 
      align-items: baseline;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        padding-bottom: 5em;
        margin-bottom: 5em;
      }
    }
    &-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      margin: 0.5em 0;
      color: $secondary-color;
    }

    &-title {
      font-weight: bold;
      margin: 0.5em 0;
    }

    &-desc {
      color: $tertiary-color;
      flex-grow: 1;
    }

    &-date {
      font-size: 0.9em;
      color: $primary-color;
      margin-top: 0.5em;

      &::after {
        content: '\2022'; // Unicode for a bullet point
        margin: 0 0.5em;
      }
    }

    &-read-time {
      font-size: 0.8em;
      color: $secondary-color;
    }
  }
}
