$primary-color: #e0ffe0;
$secondary-color: #9f48da;
$tertiary-color: #a0afa0;
$quaternary-color: #d19fba;
$background-color: #210932;
$navigation-color: #311942;

@font-face {
  font-family: 'TranscendsGame';
  src: url('./fonts/TranscendsGamesUpright.otf'); 
}

@font-face {
  font-family: 'SquareAntiqua';
  src: url('./fonts/SquareAntiqua-Book.ttf'); 
}

@mixin cardStyles {
  border: 2px solid $primary-color;
  border-radius: 1em;
  padding: 0;
  margin: 0;
  text-decoration: none;
  overflow: hidden;
  line-height: 1.5rem;
  &-content {
      padding: 0.5em;
      h2 {
          margin-top: 0;
          color: $primary-color;
      }
      p {
          margin: 20px 0;
          color: $tertiary-color;
      }
  }
  &-image {
      width: 100%;
      height: 300px;
      display: block;
      object-fit: cover;
      overflow: hidden;
  }
}

html, body {
  padding: 0;
  margin: 0;
  color: $primary-color;
  background-color: $background-color;
  font-size: larger;
  font-family: SquareAntiqua;
  overflow-x: hidden;
}

.hero {
  position: relative;
  width: 100%;
  height: 500px;
  background: url('./banner.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title, .tagline {
    color: white;
  }

  .title {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .tagline {
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin: 1em;
  }

  .logo {
    max-width: 128px;
  }
}

.content {
  max-width: 1200px;
  margin: auto;
  padding: 1em;
  line-height: 2em;
}

.navigation {
  background-color: $navigation-color;
  padding: 1rem 0;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      margin: 1rem;

    }
  }
}

.row {
  display: flex;
  justify-content: space-around;
  a {
    margin: 0.5em;
  }
}

.wrap {
  flex-wrap: wrap;
}


a {
  color: $secondary-color;
  text-decoration: none;
  &:hover {
    color: $tertiary-color;
  }
}


button, .button {
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  background-color: $secondary-color;
  color: $primary-color;

  &:hover {
    background-color: $primary-color;
    color: $background-color;
  }
}

.portfolio-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .card {
    @include cardStyles;
    max-width: 400px;
    position: relative;
    margin: 0.5em 0;
    a {
      display: flex;
      justify-content: center;
    }
  }
}

.donation-card-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: large;

  a {
    background-color: transparent;
  }

  a:hover {
    color: inherit;
  }

  
  .card {
    @include cardStyles;
    height: 200px;
    display: flex;
    &:hover {
        border-color: $secondary-color;
    }

    &-content {
      flex: 1;
      position: relative;
      padding: 1em;
    
      p {
        color: $tertiary-color;
      }
    
      .domain {
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 0;
        padding-left: 1em;
        padding-bottom: 1em;
    
        .logo {
          width: 20px;
          height: 20px;
          margin-right: 0.5em;
        }
      }
    }
    
    &-image {
      display: flex;
      flex-basis: 30%; 
      align-items: baseline;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        padding-bottom: 5em;
        margin-bottom: 5em;
      }
    }
  }
}

.blog-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  a {
    background-color: transparent;
  }

 
  .card {
    @include cardStyles;
    flex-direction: column;
    max-width: 320px;
    margin: 0.5em ;
    &:hover {
      border-color: $secondary-color;
    }

    &-image {
      display: flex;
      flex-basis: 30%; 
      align-items: baseline;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        padding-bottom: 5em;
        margin-bottom: 5em;
      }
    }
    &-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      margin: 0.5em 0;
      color: $secondary-color;
    }

    &-title {
      font-weight: bold;
      margin: 0.5em 0;
    }

    &-desc {
      color: $tertiary-color;
      flex-grow: 1;
    }

    &-date {
      font-size: 0.9em;
      color: $primary-color;
      margin-top: 0.5em;

      &::after {
        content: '\2022'; // Unicode for a bullet point
        margin: 0 0.5em;
      }
    }

    &-read-time {
      font-size: 0.8em;
      color: $secondary-color;
    }
  }
}

.blog {
  padding: 1em;
  max-width: 1200px;
  margin: auto;

  img {
    margin: 1em;
    display: flex;
    margin: auto;
    width: 100%;
  }
  &-meta {
    .tag {
      border-radius: 5px;
      display: inline-block;
      color: $tertiary-color;
    }

    .title {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    .desc {
      margin-bottom: 20px;
    }

    .blog-row {
      display: flex;
      margin-bottom: 20px;
      .profile-pic {
        width: 50px;
        height: 50px;
        margin-right: 1em;
      }

      .profile-info {
        .name {
          font-weight: bold;
          margin-bottom: 5px;
        }

        .publish-info {
          display: flex;
          align-items: center;
          color: $tertiary-color;

          .date, .read-time {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.floating-nav-container {
  display: flex;
  left: 5%;
  top: 10%;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  z-index: 1000;

  .floating-nav {
    margin: auto;
    width: 120px;
    background-color: $background-color;
    border: 1px solid $primary-color;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    font-size: small;

    .nav-title-bar {
      top: 0;
      background-color: $navigation-color;
      cursor: grab;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;
      padding: 0.5em;
    }
    
    .toggle-nav {
      cursor: pointer;
      margin-right: 0.5em;
    }
    

    a {
      padding: 0 0.3em;

      display: none;
      text-decoration: none;
      color: $primary-color;
      margin-bottom: 0.5em;
    
      &:hover {
        color: $secondary-color;
      }
      &.active {
        font-weight: bold;
        color: $quaternary-color;
        font-size: 1.2em;
      }
      &.show {
        display: block;
      }
      &.nav-h1 {
        display: block;
      }
      &.hidden {
        display: none;
      }
  }
  
    .nav-h1 {
      font-size: 1.2em;
      font-weight: bold;
    }
    .nav-h2 {
      font-size: 1.1em;
      font-weight: 500;
      padding-left: 0.8em;
    }
    .nav-h3 {
      font-size: 1em;
      padding-left: 1.6em;
    }
    .nav-h4 {
      font-size: 0.8em;
      padding-left: 2.4em;
    }
  }
}