-
  var technologicalPrivacyCrisis = {
    imgSrc: "/assets/blog/technology_crisis.jpg",
    imgAlt: "Technological Privacy Crises",
    tag: "technology",
    title: "Technological Privacy Crises",
    desc: "Let me just make a TikTok quickly...",
    date: "Jun 2, 2023",
    readTime: "14 min read",
    url: "/blog/technological-privacy-crisis"
  }

-
  var clingyTree = {
    imgSrc: "/assets/blog/clingy_tree.jpg",
    imgAlt: "Clingy Tree",
    tag: "philosophy",
    title: "Clingy Tree",
    desc: "He was in his early 20s when he met the clingy tree. Everything about this tree seemed perfectly normal. The tree had roots, a stem, branches, leaves and in summer, it had bright red fruits...",
    date: "Sep 29, 2020",
    readTime: "2 min read",
    url: "/clingy-tree/"
  }

-
  var imaginaryHouse = {
    imgSrc: "/assets/blog/imaginary_house.jpg",
    imgAlt: "Imaginary House",
    tag: "drama",
    title: "Imaginary House",
    desc: "It all started with a chance encounter that felt like fate. We were meant to be together...",
    date: "Nov 13, 2022",
    readTime: "4 min read",
    url: "/blog/imaginary-house"
  }
